@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1670770222603') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanwushuju:before {
  content: "\e619";
}

.icon-fabulig:before {
  content: "\e601";
}

.icon-fabu:before {
  content: "\e602";
}

.icon-gengduo:before {
  content: "\e603";
}

.icon-faqide:before {
  content: "\e604";
}

.icon-fuzhi:before {
  content: "\e605";
}

.icon-bianji:before {
  content: "\e606";
}

.icon-gouxuankuanglig:before {
  content: "\e607";
}

.icon-liulan:before {
  content: "\e608";
}

.icon-gouxuankuangnor:before {
  content: "\e609";
}

.icon-liuyan:before {
  content: "\e60a";
}

.icon-faqi:before {
  content: "\e60b";
}

.icon-shanchu:before {
  content: "\e60c";
}

.icon-liulanjilulig:before {
  content: "\e60d";
}

.icon-qidong:before {
  content: "\e60e";
}

.icon-a-shanchu2:before {
  content: "\e60f";
}

.icon-sousuobeifen:before {
  content: "\e610";
}

.icon-rili:before {
  content: "\e611";
}

.icon-liulanjilu:before {
  content: "\e612";
}

.icon-tiaozhuan:before {
  content: "\e613";
}

.icon-fenzu:before {
  content: "\e614";
}

.icon-gengxin:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\e616";
}

.icon-shoucang:before {
  content: "\e617";
}

.icon-tianjia:before {
  content: "\e618";
}

.icon-guanbi:before {
  content: "\e61a";
}

.icon-shenhe:before {
  content: "\e61b";
}

.icon-a-toupiao2:before {
  content: "\e61c";
}

.icon-a-tianjia2:before {
  content: "\e61d";
}

.icon-zanting:before {
  content: "\e61e";
}

.icon-tupian:before {
  content: "\e61f";
}

.icon-toupiao:before {
  content: "\e620";
}

.icon-xiaoxi:before {
  content: "\e621";
}

.icon-wode:before {
  content: "\e622";
}

.icon-wodelig:before {
  content: "\e623";
}

.icon-tongxunlu:before {
  content: "\e624";
}

.icon-toupiaojieguo:before {
  content: "\e625";
}

.icon-zhuanfa:before {
  content: "\e626";
}

.icon-zhankai:before {
  content: "\e627";
}

.icon-canyu:before {
  content: "\e628";
}

